<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uni.information_security">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".ui.chat.ChatActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.create_group.CreateGroupActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.personal.PersonalActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>